*{font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;}

.header-cover{height: 45px;}

.fl{float: left;}
.fr{float: right;}

.text-ellipsis{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
/*clearfix 主要是用在浮动层的父层*/
.clearfix::after{
	content: "";
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    font-size: 0;
}
/* clear 主要是用在浮动层与浮动层之间，和浮动层同一级，如果想要撑开父层的高度，clear 就要放在最后。 */
.clear{clear: both;}

a{cursor: pointer;}
