*{margin: 0;padding: 0;}
.container{
	width: 100%;
	min-width: 1200px;
	position: relative;
	overflow: hidden;
}
.copyright{
	width: 1200px;
	margin:0 auto;
	margin-top: 50px;
}
img{border:0;}
.mouseover{
    background-color: #c84bdf;
}
.introduceWrap,.manageWrap,.partnerWrap,.voiceWrap,.promiseWrap{
	width: 1200px;
	margin:0 auto;
}
.introduce,.manage,.partner,.voice,.promise{
	padding-top: 80px;
	padding-bottom: 80px;
}
.introduce{padding-bottom: 0;}
.introduce,.voice,.promise{background-color:#eceff4;}
.disvis{visibility: visible;}
.vis{visibility: hidden;}
/*页面1*/
.main{
	position: relative;
	width: 100%;
	min-width: 1200px;
	height: 476px;
	margin-top: 0;
	padding-bottom: 20px;
	/* background: url(../images/icon/1.png) no-repeat;
	background-size:100% 100%; */
	background-color: white;
}
.mainbg{
	width:1440px;
	min-height:100%;
	margin:0 auto;
	background:url(../images/icon/1_1440.png) no-repeat;
	/*background-size:cover;*/
}
.hot-main{
	height: 760px;
	background: url(../images/new_icon/saohe_hot_bg.png) no-repeat!important;
	background-size:1920px 760px!important;
}
/*导航栏*/
.top{
	width:100%;
	min-width: 1200px;
	background-color:#1a1a1a;
	height: 80px;
}
.bgcolor{background-color:rgba(0,0,0,0.6);}
.btop{
	position: fixed;
	display: none;
    bottom: 20px;
    right: 0;
    width: 50px;
    font-size: 18px;
    color: black;
    text-align: center;
    z-index: 10;
}
.topl{
	padding-left: 60px;
	font-size: 18px;
	color: #fefdfe;
	text-align: left;
}
.topl p:last-child{font-size: 15px;}
.topl img{
	width: 44px;
	height: 44px;
	margin-right: 15px;
}
.topr{
	height: 45px;
	text-align: right;
	padding-right: 60px;
}
.topl,.topr{margin-top: 18px;}
.topr li{
	float: right;
	width:130px;
	line-height: 45px;
	text-align: left;
	font-size: 20px;
 }
.topr li a{color:#ffffff;}
.topr li:first-child a{
 	display: inline-block;
 	width: 145px;
	border: 1px solid #c84bdf;
	border-radius:5px;
	text-align: center;
	color: #c84bdf;
 }
/*主页内容*/
.main-content-bottom,.bottomCover{
	position: absolute;
	width: 1200px;
    height: 160px;
    bottom:-80px;
    margin:auto;
    left: 0;
    right: 0;
}
.main-content-bottom img,.bottomCover .cover{
	float: left;
	width:160px;
	height:160px;
	vertical-align:middle;
	margin-right: 40px;
	cursor: pointer;
}
.main-content-bottom img:last-child{margin-right:0;}
.bottom-nav{position:absolute;width: 190px;height: 190px;top:3px;}
#saoke{left: 4px;}
#saodong{left:207px;}
#hehuoren{right:25px;}
.selected{
	background: url(../images/icon/icon_display.png) no-repeat center;
	background-size:48px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 50%;
}
.code-msg{
	position: fixed;
	bottom: 250px;
	right: -157px;
	width: 208px;
	font-size:18px;
	color: white;
	text-align: center;
	z-index: 10;
}
.code-img{
	position: fixed;
	bottom: 95px;
	right: -157px;
	width: 208px;
	height: 140px;
	z-index: 10;
}
/*页面2*/
.introduce h3,.manage h3,.echo-up h3{
	font-size: 30px;
	color: #1a1a1a;
	font-weight: normal;
	margin-bottom: 12px;
}
.introl{
	width:600px;
	margin-top: 100px;
}
.intro-wrap{
	width: 400px;
	margin:0 auto;
}
.introl h4:first-of-type{padding-top: 35px}
.manage h4:first-of-type{padding-top: 35px}
.echo-up h4:first-of-type{padding-top: 35px;}
.introl h4 img, .manage h4 img, .echo-up h4 img{
	margin-right: 5px;
	vertical-align: middle;
}
.introl h4,.manage h4,.echo-up h4{
	font-size: 24px;
	font-weight: normal;
	color: #1a1a1a;
}
.introduce p,.manage p,.echo-up p{
	font-size: 22px;
	color: #666666;
}
.introl .intro-detail,.manage .intro-detail,.echo-up .intro-detail{
    font-size: 18px;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 38px;
}
.intror{
	width: 600px;
	margin-top: 70px;
	text-align: center;
}
.intror img{
	width: 455px;
	max-width: 700px;
	margin-bottom: -3px;
}
/*页面3*/
.manage{
	width: 100%;
}
.managel{
	width: 600px;
	text-align:left;
}
.managel img{
	width: 550px;
	max-width:875px;
	vertical-align:middle;
}
.manager{
	width: 600px;
	min-width: 600px;
}
.manager-wrap{
	width:475px;
	/*margin: 0 auto;*/
	margin-left: 90px;
}
/*页面4*/
.voice{height: 550px;}
.voice h2,.promise h2{
	text-align: center;
	margin-bottom:50px;
	font-size: 30px;
    color: #666666;
}
.voicel,.voicer{
	width: 600px;
}
.voice-wrap{
	height: 220px;
	margin-left: 50px;
}
.people{position: relative;}
.people p{
	margin-left: 100px;
    margin-top: 5px;
}
.people .company{
	color: rgb(202, 68, 195);
}
.voice-wrap .des{
	color:#666666;
	line-height: 28px;
}
.voice-wrap .name{
	font-size: 20px;
    font-family: "黑体";
}
.voice .people{
	height: 102px;
	margin: 20px 0px;
	/*padding-left: 15px;*/
}
.people .touxiang{
	width: 108px;
	height: 102px;
	background: url(../images/new_icon/touxiang_box_1.png) center no-repeat;
	background-size: 108px;
	position: relative;
	display: inline-block;
}
.people .touxiangr{
	width: 420px;
    height: 66px;
	background: url(../images/new_icon/touxiang_box_01.png) center no-repeat;
	background-size: 420px;
	position: absolute;
	top: 19px;
	left: 108px;
	display: inline-block;
	text-align: center;
	line-height: 66px;
	font-size: 20px;
	color: #5c3164;
}
.people img{
	width: 90px;
	height: 90px;
	position:absolute;
    margin-left: 6px;
    margin-top: 6px;
}
/*页面5*/
.partner{
	text-align: center;
}
.p1{font-size: 38px;color: #5c3164;padding-top: 130px;}
.p2{font-size: 30px;color: #666666;text-align: center;margin-bottom: 50px;}
.p3,.p4{width: 1200px;margin:0 auto;}
.p3{margin-top: 80px;}
.p4{padding-top: 60px;margin-bottom: 140px;}
.p3 li,.p4 li{
	float: left;
	width: 145px;
	height: 200px;
}
/*页面6*/
.promise .proslogan{
	text-align: center;
	margin-top: 50px;
}
.promise .proslogan img{
	width: 732px;
}
.promisel{
	width: 366px;
	text-align: center;
	margin-bottom:25px;
}
.promise img{
	width: 300px;
}
/*页面7*/
.footer{
	position: relative;
	height: 330px;
	background-color:#1f1f1f;
	padding: 50px 0;
	margin: 0 auto;
}
.copyright{
	margin-top: 0;
}
.footer .copyright .guanwei{
	width: 84px;
	height: 100%;
    margin-right: 20px;
    vertical-align: top;
    margin-top: 7px;
    display: inline-block;
    position: relative;
}
.footer .copyright .guanwei .normal-img{
	width: 100%;
	height: 108px;
}
.footer .copyright .guanwei .big-img,.copyright .app-big-img{
	width: 150px!important;
	height: 157px!important;
	position: absolute;
	top: -140px;
    left: -34px;
    display: none;
}
.footer .copyright .app-normal-img{width: 84px;height: 108px;}
.copyright .app-big-img{top:-17px;}
.copyright .cr-list{
	width: 350px;
	margin: 0px 20px;
}
.copyright .cr-list h3{
	margin-bottom: 15px;
	color: white;
	font-size: 18px;
	font-weight: normal;
}
.copyright .cr-list .eng{
	font-size: 18px;
}
.copyright .cr-list img{
	width: 280px;
    height: 140px;
	margin-bottom: 30px;
}
.footer-msg{
    margin-top: 20px;
    color: rgb(218, 218, 218);
    clear: both;
    font-size: 14px;
    line-height: 23px;
}
.footer .first{
	width:275px;
	position: absolute;
	top: -20px;
    left: 118px;
}
.copyright .center{
	width: 265px;
    margin-left: 80px;
}
.bottom-line{
	background-color: rgb(65, 20, 65);
	height: 50px;
	margin: 0 auto;
}
#focus-us,#chatQQ{
    width: 104px;
    height: 26px;
    position: absolute;
    top: 290px;
	left: 115px;
    padding-left: 0;
}
#focus-us{
	left:230px;
}
#footer-first{
	position: relative;
}
.copyright .footer-msg .hunter{
	width: 58px;
	height: 24px;
	margin-right: 10px;
}
.copyright .footer-msg .icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 5px;
	vertical-align: middle;
}
.copyright .footer-msg .address{
	width:222px;
	height: 148px;
	border: none;
    margin-left: 20px;
}
#i1{background: url(../images/new_icon/icon_msg.png) center no-repeat;}
#i2{background: url(../images/new_icon/icon_address.png) center no-repeat;}
#i3{background: url(../images/new_icon/icon_service.png) center no-repeat;}
.joinin{position: relative;}
.joinin:after{
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 22px;
    background: url(../images/icon/icon_hot.png) center no-repeat;
    background-size: 16px 22px;
    top: -10px;
    right: -16px;
}
