
.container{
	width: 100%;
	min-width: 1200px;
	position: relative;
	overflow: hidden;
	/* color: #ffffff; */
}
img{border:0}
.line{
	background: url(../images/icon/decorate_line.png) center no-repeat;
	height: 1.3rem;
}
/*页面1*/
.main{
	position: relative;
	padding-top: 200px;
	/*width: 100%;*/
	/*height: 1040px;*/
}
.main-background,.bg-cover{
	position: absolute;
 	width: 100%;
    height: 1040px;
    overflow: hidden;
    background-size: 100%;
}
.main-background{ background: url(../images/icon/saohe_home_bg.png);}
.bg-cover{background-color: rgba(0,0,0,0.6);}

/*导航栏*/
.top{
	position: fixed;
	z-index: 1000;
	width:100%;
	min-width: 1200px;
	height: 100px;
	top: 0px;
	display: box;
	display: -webkit-box;
	display: -moz-box;
}
.bgcolor{background-color:rgba(0,0,0,0.6);}
.topl{
	padding-left: 60px;
	font-size: 18px;
	color: #fefdfe;
	margin-top: 25px;
	text-align: left;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
}
.topl p:last-child{font-size: 14px;}
.topl img{
	width: 116px;
	height: 44px;
	margin-right: 15px;
}
.topr{
	height: 45px;
	text-align: right;
	padding-right: 60px;
	margin-top: 32px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
}
.topr li{
	float: right;
	width:118px;
	line-height: 45px;
	text-align: left;
	font-size: 1.1rem;
 }
.topr li a{color:#ffffff;}
.topr li:first-child a{
 	display: inline-block;
 	width: 100px;
	border: 1px solid #c84bdf;
	border-radius:5px;
	text-align: center;
	/* font-size: 20px; */
	color: #c84bdf;
 }
 .topr li:first-child a:hover{
 	background: #c84bdf;
 	color: white;
 }

/*主页内容*/
.main-content{
	width: 800px;
	height:500px;
	margin:0 auto;
	padding-top: 250px;
	color: #ffffff;
	text-align: center;
}
.content-wrap{
	width: 510px;
	height: 530px;
	position: relative;
	margin:0 auto;
	overflow: hidden;
	/*margin-top: 250px;*/
	color: #ffffff;
	text-align: center;
}
#content1,#content2,#content3{
	position: absolute;
	top: 530px;
	/*margin:0 auto;*/
	left: 50%;
	width: 506px;
	margin-left: -253px;
	text-algin:center;
}
.blo{display: block;top:380px;}
.main-content-top{
	height: 80px;
	line-height: 80px;
}
.main-content-topl{
	display: inline-block;
	/*width:200px;*/
	height:80px;
	font-size:3.9rem;
	line-height: 80px;
	overflow: hidden;
}
.main-content-topr{display: inline-block;}
.main-content-topr p{height: 40px;line-height: 40px;}
.main-content-topr p:first-child{font-size: 1.6rem;}
.main-content-topr p:last-child{font-size: 1.8rem;}
.main-content-middle{
	font-size: 1.8rem;
	margin-top: 100px;
	line-height: 50px;
}
.main-content-button button{
	width: 300px;
	height: 60px;
	margin-top: 40px;
	font-size:1.6rem;
	text-align: center;
	border: transparent;
	border-radius: 5px;
	background: #c84bdf;
	color: #ffffff;
	box-shadow:0px 6px 12px #5B1F67;
}
.main-content-bottom{
	width: 625px;
	height:204px;
	margin:0 auto;
	/*margin-top:150px;*/
	position: relative;
}
.main-content-bottom img{
	/*float: left;*/
	width:192px;
	height:192px;
	vertical-align:middle;
	/* border-radius: 50%;
	border:3px solid white; */
	margin-right: 12px;
}
.main-content-bottom img:last-child{margin-right:0;}
.bottom-nav{position:absolute;width: 190px;height: 190px;top:3px;}
#saoke{left: 4px;}
#saodong{left:207px;}
#hehuoren{right:25px;}
.selected{
	background: url(../images/icon/icon_display.png) no-repeat center;
	background-size:48px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 50%;
}
.code-msg{
	position: absolute;
	top: 355px;
	right: -157px;
	width: 208px;
	font-size:0.9rem;
	color: white;
	text-align: center;
}
.code-img{
	position: absolute;
	top: 535px;
	right: -157px;
	width: 208px;
	height: 140px;
}

/*页面2*/
.partner{
	text-align: center;
	height: 600px;
	/*border-bottom: 1px solid #dbdbdb;*/
}
.p1{font-size: 1.9rem;color: #5c3164;padding-top: 130px;}
.p2{font-size: 1.4rem;color: #666666;padding-top: 200px;}
.p3,.p4{width: 1200px;margin:0 auto;}
.p3{padding-top: 120px;}
.p4{padding-top: 60px;margin-bottom: 140px;}
.p3 li,.p4 li{
	float: left;
	width: 200px;
}

/*页面3*/
.introduce{
	width:100%;
	height: 985px;
	/*text-align: left;*/
	/*border-bottom: 1px solid #dbdbdb;*/
	display: box;
	display: -webkit-box;
	display: -moz-box;
}
.introduce h3,.manage h3,.echo-up h3{
	font-size: 2.5rem;
	color: #1a1a1a;
	font-weight: normal;
	margin-bottom: 50px;
}
.introl{
	/*margin-left: 85px;*/
	margin-top: 200px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	/*text-align: left;*/
}
.intro-wrap{
	width: 480px;
	margin:0 auto;
}
.introl h4:first-of-type{padding-top: 130px}
.manage h4:first-of-type{padding-top: 90px}
.echo-up h4:first-of-type{padding-top: 55px;}
.introl h4 img, .manage h4 img, .echo-up h4 img{
	margin-right: 5px;
	vertical-align: middle;
}
.introl h4,.manage h4,.echo-up h4{
	font-size: 1.5rem;
	font-weight: normal;
	color: #1a1a1a;
}
.introduce p,.manage p,.echo-up p{
	font-size: 1.4rem;
	color: #666666;
	/* text-align: left; */
}
.introl .intro-detail,.manage .intro-detail,.echo-up .intro-detail{
	font-size: 1.2rem;
	color: #666666;
	margin-top: 20px;
    margin-bottom: 35px;
}
.intror{
	/*margin-right: 90px;*/
	padding-top: 125px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	text-align: center;
}
.intror img{
	width: 100%;
	max-width: 700px;
}

/*页面4*/
.manage{
	width: 100%;
	height: 888px;
	margin:0 auto;
	/*border-bottom: 1px solid #dbdbdb;*/
	display: box;
	display: -webkit-box;
	display: -moz-box;
}
.managel{
	text-align:center;
	margin-top: 125px;
	margin-right: 20px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
}
.managel img{
	width: 100%;
	max-width:875px;
	vertical-align:middle;
}
.manager{
	/*width:600px;*/
	min-width: 600px;
	margin-top: 150px;
	margin-bottom: 50px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
}
.manager-wrap{
	width:600px;
	margin: 0 auto;
}

/*页面5*/
.echo-up{
	width: 100%;
	/*height: 500px;*/
	display: box;
	display: -webkit-box;
	display: -moz-box;
	margin-bottom: 50px;
}
.echol{
	padding-top: 110px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	min-width: 500px;
}
.echor{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	text-align: center;
}
 .echor img{
	width: 100%;
	max-width:880px;
	border-radius: 5px;
	margin:0 auto;
}
.echol-wrap{
	width: 505px;
	float: right;
	/*height: 200px;*/
	margin:0 auto;
}
.echor{
	/*margin-right: 90px;*/
	margin-top: 120px;
}
.echo-bottom-cover{
	display: box;
	display: -webkit-box;
	display: -moz-box;
	max-width: 880px;
	margin:0 auto;
	margin-top: 15px;
}
.echor-bottom{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
}
.echor-bottom:first-child{text-align: left;}
.echor-bottom:last-child{text-align: right;}
.echor-bottom img{
	width:100%;
	max-width:420px;
	max-height:300px;
}

/*页面6*/
.copyright{
	/*position: absolute;*/
	width: 100%;
	height: 328px;
	/*bottom:0;*/
	background: #5c3164;
	text-align: center;
}
.imgselected{
  box-shadow:6px 6px 12px #c6a4cd;
}
.copyright img{
	display: block;
	margin:0 auto;
}
.copyright img:first-child{
	padding-top: 80px;
	padding-bottom: 5px;
}
.copyright img:last-of-type{
	padding-bottom: 50px;
}
.copyright-bottom{
	margin-bottom: 80px;
}
.copyright-bottom p{
	font-size: 0.8rem;
	color: #ffffff
}