.container{
	width: 100%;
	min-width: 1000px;

	position: relative;
	overflow: hidden;
	/* color: #ffffff; */
}
img{border:0}

/*页面1*/
.main{
	position: relative;
	width: 100%;
	height: 1040px;
}
.main-background{
	position: absolute;
	width: 100%;
    height: 1040px;
    background: url(../images/icon/saohe_home_bg.png);
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
}

/*导航栏*/
.top{
	position: fixed;
	z-index: 1000;
	min-width: 1000px;
	width: 100%;
	height: 100px;
	top: 0px;
	/*position: absolute;*/
	/* display: table-cell;
	vertical-align: middle; */
/*background-color: #666666;*/
}
.bgcolor{background-color: #666666;}
.topl{
	padding-left: 60px;
	font-size: 18px;
	color: #fefdfe;
	margin-top: 25px;
}
.topl p:last-child{font-size: 14px;}
.topl img{
	width: 116px;
	height: 44px;
	margin-right: 15px;
}
.topr{
	width:590px;
	height: 45px;
	margin-right: 60px;
	/*padding-left: 50px;*/
	margin-top: 32px;
}
.topr li{
	float: left;
	width:118px;
	line-height: 45px;
	text-align: left;
	font-size: 20px;
 }
 .topr li a{color:#ffffff;}
 .topr li:last-child a{
 	display: inline-block;
 	width: 100px;
	border: 1px solid #c84bdf;
	border-radius:5px;
	text-align: center;
	/* font-size: 20px; */
	color: #c84bdf;
 }

/*主页内容*/
.main-content{
	width: 800px;
	height:500px;
	margin:0 auto;
	padding-top: 250px;
	color: #ffffff;
	text-align: center;
}
.content-wrap{
	width: 440px;
	height: 380px;
	position: relative;
	margin:0 auto;
	overflow: hidden;
}
#content1,#content2,#content3{
	position: absolute;
	top: 380px;
}
.blo{display: block;top:380px;}
.main-content-top{
	height: 80px;
	line-height: 80px;
}
.main-content-topl{
	display: inline-block;
	/*width:200px;*/
	height:80px;
	font-size:78px;
	line-height: 80px;
	overflow: hidden;
}
.main-content-topr{display: inline-block;width:200px;}
.main-content-topr p{height: 40px;line-height: 40px;}
.main-content-topr p:first-child{font-size: 32px;}
.main-content-topr p:last-child{font-size: 36px;}
.main-content-middle{
	font-size: 36px;
	margin-top: 100px;
	line-height: 50px;
}
.main-content-button button{
	width: 300px;
	height: 60px;
	margin-top: 60px;
	font-size:32px;
	text-align: center;
	border: transparent;
	border-radius: 5px;
	background: #c84bdf;
	color: #ffffff;
}
.main-content-bottom{
	width: 594px;
	height:204px;
	margin:0 auto;
	margin-top:220px;
	position: relative;
}
.main-content-bottom img{
	float: left;
	width:192px;
	height:192px;
	vertical-align:middle;
	border-radius: 50%;
	border:3px solid white;
}
.bottom-nav{position:absolute;width: 190px;height: 190px;top:3px;}
#saoke{left: 4px;}
#saodong{left:202px;}
#hehuoren{right:4px;}
.selected{
	background: url(../images/icon/icon_slip.png) no-repeat center;
	background-size:34px;
	background-color: rgba(0,0,0,0.6);
	border-radius: 50%;
}
.code-msg{
	position: absolute;
	top: 355px;
	right: -157px;
	width: 208px;
	font-size:18px;
	color: white;
	text-align: center;
}
.code-img{
	position: absolute;
	top: 535px;
	right: -157px;
	width: 208px;
	height: 140px;

}
/*页面2*/
.partner{
	text-align: center;
	height: 650px;
	border-bottom: 1px solid #dbdbdb;
}
.p1{
	padding-top: 115px;
}

.p1{font-size: 36px;color: #5c3164;}
.p2{font-size: 28px;color: #666666;padding-top: 95px;}
.p3,.p4{width: 1200px;margin:0 auto;}
.p3{padding-top: 80px;}
.p4{padding-top: 60px;margin-bottom: 140px;}
.p3 li,.p4 li{
	float: left;
	width: 200px;

}

/*页面3*/
.introduce{
	height: 985px;
	text-align: left;
	border-bottom: 1px solid #dbdbdb;
}
.introduce h3,.manage h3,.echo h3{
	font-size: 50px;
	color: #1a1a1a;
	font-weight: normal;
	margin-bottom: 50px;
}
.introl{margin-left: 85px;margin-top: 250px;}
.introl h4:first-of-type{padding-top: 130px}
.manage h4:first-of-type{padding-top: 90px}
.echo h4:first-of-type{padding-top: 55px;}
.introl h4 img, .manage h4 img, .echo h4 img{
	margin-right: 5px;
	vertical-align: middle;
}
.introl h4,.manage h4,.echo h4{
	font-size: 30px;
	font-weight: normal;
	color: #1a1a1a;
}
.introduce p,.manage p,.echo p{
	font-size: 28px;
	color: #666666;
	/* text-align: left; */
}
.introl .intro-detail,.manage .intro-detail,.echo .intro-detail{
	font-size: 24px;
	color: #666666;
	margin-top: 20px;
    margin-bottom: 35px;
}
.intror{margin-right: 90px;padding-top: 125px;}
/*页面4*/
.manage{
	height: 888px;
	margin:0 auto;
	border-bottom: 1px solid #dbdbdb;
}
.managel{margin-left: 80px;margin-top: 125px;}
.manager{width:600px;margin-right: 90px;margin-top: 150px;margin-bottom: 50px;}
/*页面5*/
.echo{
	height: 1000px;
}
.echol{
	padding-left:180px;
	padding-top: 110px;
}
.echor,.echo .pic3{
	margin-right: 90px;
	margin-top: 120px;
}
.echo .pic3{margin-top: 30px;}
.pic3 img{vertical-align: middle;}
.pic3 img:first-child{margin-right: 40px;}
.pic3 img:last-child{margin-left: 40px;}
/*页面6*/
.copyright{
	/*position: absolute;*/
	width: 100%;
	height: 328px;
	/*bottom:0;*/
	background: #5c3164;
	text-align: center;

}
.imgselected{
  box-shadow:6px 6px 12px #333333;
}
.copyright img{
	display: block;
	margin:0 auto;
}
.copyright img:first-child{
	padding-top: 80px;
	padding-bottom: 5px;
}
.copyright img:last-of-type{
	padding-bottom: 50px;
}
.copyright-bottom{
	margin-bottom: 80px;
}
.copyright-bottom p{
	font-size: 16px;
	color: #ffffff
}